body{
    background-color: rgb(185, 227, 227);
}
.navbar-brand img{
    width: 50px;
}

/* HOME */

#solicitacoes-table{
    max-width: 800px;
    margin: 0 auto;
}
#solicitacoes-table thead{
    color: antiquewhite;
    background-color: darkgreen;
}
.actions{
    text-align: right;
    width: 150px;
}
.actions i{
    font-size: 18px;
    margin-right: 5px;
}
.check-icon{
     color: darkgreen;
}
.edit-icon{
    color: rgb(95, 81, 5);
    
}
.delete-btn{
    background-color: transparent;
    border: none;
    padding: 0;
}
.delete-icon{
    color: rgb(214, 4, 8);
}
#main-title{
    text-align: center;
}
#empty-list-text{
    text-align: center;
}
#msg{
    color:crimson;
    background-color: rgb(214, 205, 81);
    border: 1px solid rgb(123, 32, 32);
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}
/* create*/
.create-form{
    max-width: 500px;
    margin: 0 auto;
}
#voltar{
    margin-left: 30px;
    color: rgb(204, 12, 12);
}